name: Pipeline atividade unipe (com SAST e DAST)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  
  workflow_dispatch: {}

jobs:
  validar-hello-world:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Checkout do código
        uses: actions/checkout@v4
      
      - name: 2. Listar os arquivos
        run: ls -R
        
      - name: 3. Mensagem de sucesso
        run: echo "Pipeline executada com sucesso para a atividade!"

  sast-scan:
    runs-on: ubuntu-latest
    needs: validar-hello-world
    steps:
      - name: Simulando Teste SAST (Static Analysis)
        run: |
          echo "Iniciando verificação SAST (simulando Semgrep, GitLeaks...)"
          sleep 5 # Adiciona um pequeno delay para parecer real
          echo "Verificação SAST concluída. Nenhuma vulnerabilidade estática encontrada."    

  dast-scan:
    runs-on: ubuntu-latest
    needs: sast-scan
    steps:
      - name: Simulando Teste DAST (Dynamic Analysis)
        run: |
          echo "Iniciando verificação DAST (simulando OWASP ZAP...)"
          echo "Neste passo, a aplicação estaria 'no ar' para ser testada dinamicamente."
          sleep 5 # Adiciona um pequeno delay
          echo "Verificação DAST concluída. Nenhuma vulnerabilidade dinâmica encontrada."